# Evitar listar directorios
Options -Indexes

# Configuración básica
<IfModule mod_rewrite.c>
    RewriteEngine On
    # RewriteBase /
    
    # Redirigir a HTTPS (opcional, descomentar si se desea forzar)
    # RewriteCond %{HTTPS} off
    # RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>
